
a {
	text-decoration: none;
	color: #584699;
	width: 100%;
	vertical-align: middle;
}

ion-list ion-item:first-child{
    text-align: center;
    font-size: 130%;
}

ion-item ion-label{
    color: #584699;
}