<!-- Header -->
<app-search-header [title]='business.name'></app-search-header>
<!-- Header -->

<!-- Content -->
<ion-content>
  <ion-grid class="h-100">
    <ion-row class="h-50 justify-content-center align-items-center">
      <ion-col size="12" class="justify-content-center">
        <p id="pNumberOfPeople"><span id="spnNumberOfPeople">{{business.numberOfPeople}}</span> personas</p>
      </ion-col>
      <ion-col size="12" class="justify-content-center">
        <p id="pAproximateTime">Le atienden en 30 minutos, aproximadamente.</p>
      </ion-col>
    </ion-row>
    <ion-row class="h-50">
      <div id="dvCreateTicket">
        <form id="frmCreateTicket" (ngSubmit)="createTicket()">    
          <ion-grid>
            <ion-row>
                <ion-item>
                  <ion-label>Servicios</ion-label>
                  <ion-select okText="Seleccionar" cancelText="Cancelar" name="service" required="true">
                    <ion-select-option *ngFor="let service of business.services" [value]="service.id">{{service.name}}</ion-select-option>
                  </ion-select>
                </ion-item>            
            </ion-row>
            <ion-row>
              <ion-button type="submit" fill="solid">Generar ticket</ion-button>
            </ion-row>
          </ion-grid>
        </form>
      </div>      
    </ion-row>
  </ion-grid>
</ion-content>
<!-- Content -->
