<!-- Header -->
<app-header [title]="headerTitle"></app-header>
<!-- Header -->
<!-- Content -->
<ion-content>
    <form>
        <ion-list>
            <ion-item>
                <ion-label position="floating">Primer nombre</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Segundo nombre</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Primer apellido</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Segundo apellido</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>
            <ion-button fill="outline">Guardar cambios</ion-button>
        </ion-list>
    </form>
</ion-content>
<!-- Content -->