ion-list {
	display: flex;
	flex-flow: column;
}

ion-button {
    margin-top: 10%;
    --color:#584699;
    --border-color:#584699;
}

/* ion-item.item-has-focus > ion-label{
    color: #584699 !important;
} */