<section>
  <ion-grid>
    <ion-row id="rowLogo">
      <ion-col>Line Up!</ion-col>
    </ion-row>
    <ion-row id="rowForm">
      <ion-col size-md="4">
        <form>
          <ion-item>
            <ion-input placeholder="Correo electrónico"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Contraseña" type="password"></ion-input>
          </ion-item>
          <ion-button (click)="access()">Acceder</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</section>