<ion-grid class="h-100">
  <ion-row class="h-100">
    <ion-col size="6" class="ion-text-align-center h-25">
      <div class="ion-activatable ripple-parent businessTile" color="dark">          
        <a [routerLink]="['/search']" [queryParams]="{c:1}">
          Bancos
          <ion-ripple-effect></ion-ripple-effect>          
        </a>
      </div>
    </ion-col>
    <ion-col size="6" class="ion-text-align-center h-25">
      <div class="ion-activatable ripple-parent businessTile">
        <a [routerLink]="['/search']" [queryParams]="{c:2}">
          Agua
          <ion-ripple-effect></ion-ripple-effect>
        </a>
      </div>
    </ion-col>
    <ion-col size="6" class="ion-text-align-center h-25">
      <div class="ion-activatable ripple-parent businessTile">
        <a [routerLink]="['/search']" [queryParams]="{c:3}">
          Telecomunicaciones
          <ion-ripple-effect></ion-ripple-effect>
        </a>
      </div>
    </ion-col>
    <ion-col size="6" class="ion-text-align-center h-25">
      <div class="ion-activatable ripple-parent businessTile">
        <a [routerLink]="['/search']" [queryParams]="{c:4}">
          Electricidad
          <ion-ripple-effect></ion-ripple-effect>
        </a>
      </div>
    </ion-col>
    <ion-col size="6" class="ion-text-align-center h-25">
      <div class="ion-activatable ripple-parent businessTile">
        <a [routerLink]="['/search']" [queryParams]="{c:5}">
          Peluquerías
          <ion-ripple-effect></ion-ripple-effect>
        </a>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>