.businessTile{
    background: linear-gradient(to bottom left,#584699,#5f4baa,#2eacb9);
    border-radius: 5px;
    min-width: 50%;
    text-align: center;
    height: 100%;
}

.businessTile a {
    display: flex;
    text-decoration: none;
    color: white;
    height: inherit;
    align-items: center;
    justify-content: center;
    font-size: 100%;
}