<!-- Header -->
<app-header title="Cambio de contraseña"></app-header>
<!-- Header -->
<!-- Content -->
<ion-content>
  <ion-grid>
    <ion-row>
      <form>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Contraseña actual</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nueva contraseña</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmación de contraseña</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-row>
  </ion-grid>  
</ion-content>
<!-- Content -->