<!-- Header -->
<app-search-header [title]="componentTitle"></app-search-header>
<!-- Header -->
<!-- Content -->
<ion-content>
  <div id="dvShift">
    <p>Su ticket en <strong>{{shift.business.name}}</strong> es: </p>
    <p id="ticketNumber">{{shift.ticketNumber}}</p>
    <p>Le atienden en 30 minutos, aproximadamente.</p>
    <p><ion-button fill="outline" id="btnMoreInformation">Ver más información</ion-button></p>
    <!-- <div id="dvShiftDetails">
      <ion-list>
        <ion-item lines="inset"><ion-label>Generado el {{shift.generationDate | date:'medium'}}</ion-label></ion-item>
        <ion-item lines="inset"><ion-label>Generado el {{shift.generationDate | date:'medium'}}</ion-label></ion-item>
      </ion-list>
    </div> -->
  </div>
</ion-content>
<!-- Content -->