ion-toolbar{
  --background:#584699;
  --color:#fff;
}

#businessTiles ion-button{
  --background: #444;
}

.businessTile {
	height: 100%;
	background: #4f5253;
	color: white;
	display: flex;
	align-items: center;
  justify-content: center;
  border-radius: 5px;
}