
#businessTiles ion-button{
  --background: #444;
}

.businessTile {
	background: #4f5253;	
	border-radius: 5px;
	min-width: 50%;
	text-align: center;
	height: 100%;
}

.businessTile a{
  display: block;
  text-decoration: none;
  color: white;
}