<!-- Header -->
<app-search-header title="Bienvenido"></app-search-header>
 <!-- Header -->
 <!-- Content -->
<ion-content [fullscreen]="true">
  <!-- Business tiles -->
  <ion-grid id="businessTiles">
    <ion-row>
      <ion-col size="4" class="ion-text-align-center">
        <div class="ion-activatable ripple-parent businessTile" color="dark">          
          <a [routerLink]="['/search']" [queryParams]="{c:1}">
            Bancos
            <ion-ripple-effect></ion-ripple-effect>          
          </a>
        </div>
      </ion-col>
      <ion-col size="4" class="ion-text-align-center">
        <div class="ion-activatable ripple-parent businessTile">
          <a [routerLink]="['/search']" [queryParams]="{c:2}">
            Agua
            <ion-ripple-effect></ion-ripple-effect>
          </a>
        </div>
      </ion-col>
      <ion-col size="4" class="ion-text-align-center">
        <div class="ion-activatable ripple-parent businessTile">
          <a [routerLink]="['/search']" [queryParams]="{c:3}">
            Telecomunicaciones
            <ion-ripple-effect></ion-ripple-effect>
          </a>
        </div>
      </ion-col>
      <ion-col size="4" class="ion-text-align-center">
        <div class="ion-activatable ripple-parent businessTile">
          <a [routerLink]="['/search']" [queryParams]="{c:4}">
            Electricidad
            <ion-ripple-effect></ion-ripple-effect>
          </a>
        </div>
      </ion-col>
      <ion-col size="4" class="ion-text-align-center">
        <div class="ion-activatable ripple-parent businessTile">
          <a [routerLink]="['/search']" [queryParams]="{c:5}">
            Peluquerías
            <ion-ripple-effect></ion-ripple-effect>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Business tiles -->
</ion-content>
<!-- Content -->
